# Backend
backend/vero.db
backend/__pycache__/
backend/*.pyc
backend/.venv/
backend/venv/
backend/.env

# Frontend
frontend/node_modules/
frontend/dist/
frontend/.env

# General
.DS_Store
*.log
*.egg-info/
